html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	height:100%;
}
body{
	background:radial-gradient(#fff, #666);
}
#splash{
	border:4px #000 double;
	border-radius: 6px;
    height: 80%;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 80%;
    z-index: 10;
    cursor:pointer;
    min-width: 415px;
    min-height:377px;
}
#splash h1 {
    font: 66px Courier;
    letter-spacing: 11px;
    position: relative;
    text-align: center;
    z-index: 9;
}
#splash p{
    position: relative;
    text-align: center;
    z-index: 11;
}

#splash span{
    bottom: 5px;
    font: 16px "Courier New";
    left: 5px;
    position: absolute;
    z-index: 9;
/*    letter-spacing: 4px;
*/}
#splash span em{
	text-decoration: blink;;
}
#window{
	width: 100%;
	height:100%;
	position: absolute;
	cursor: pointer;
}
.splashBG{
    left: 0;
    opacity: 0.8;
    top: 0;
    z-index: 9;
    background:#fff;
	width: 100%;
	height:100%;
	position: absolute;
 }

ul{
	padding:0;
	margin:0;
	list-style:none;
}
body,
input{
	font-size:22px;

}
div#interface.hide *{
	display: none;
}
div#interface,
div#control,
input{
	background:#fff;
}
div#interface input{
	border-bottom: 1px #ccc dashed;
	position: relative;
	z-index:2;
	background: 0;
}
span.open{
	cursor: pointer;
	color:#666;
	font-weight:bold;

}

/*input.blur{
	font:14px Times !important;
	color:#666;
	font-style: italic !important;

}
*/
span.prompt{
	position: absolute;
	font:14px Times !important;
	color:#666;
	font-style: italic !important;
	margin-left:0 !important;
	padding-left:0 !important;
	width:100% !important;
}

div#interface{
	width:810px;
	margin:0 auto;
	overflow:hidden;
	box-shadow:0px 0px 20px #000;
}


ul{
	font-family:  'Times New Roman';
	position: relative;

}
ul#pri{
	padding-bottom: 30px;
	margin-top:30px;
}
ul#con{
	padding-top:80px;
}
ul#pri,
ul#con{
	padding-left:0;
}
div#interface ul.supA{
	margin:4px 0;
}

/* underline last pri and aux assumption line*/
div#interface ul li.a.l span.s{
	border-bottom: 1px #000 solid;
}


div#interface ul span:first-child{
	border-right: 1px #000 solid;
	padding-right: 15px;
}
div#interface span{
	display:inline-block;
	padding:3px 0 3px 30px;
	background: #fff;
}
div#interface span:nth-child(1){
	width:16px;
}
 ul.pri span.s{
	width:500px;
}
div#interface span.j{
	width:166px;
	padding-left:20px;
	font-size:18px;
	height:18px;
}

input{
	border:0;
	font-family: Arial;
	width:100%;
	margin: -1px 0;
}
input#j{
	font-size: 18px;
}
li.pr{
	position: absolute;
	bottom:40%;
}
li.pr span{
	border: 0;
}


li.a{
	font-style: italic;
}
li.s{
	font-style: normal;
}
li span:first-child{
	font-style: normal;

}
li.marginline{
	position: absolute;
	height:100%;
}
li.marginline span{
	height:100%;
	background: 0 !important;
}
ul#con li.marginline{
	top:0;
	height:12px;
}

ul.aux{
    padding: 0;
    margin-top:10px;
}
ul.aux li.marginline span{
	padding-top:0 !important;
	padding-bottom: 0 !important;
}

ul.aux span.s{
    border-left: 1px solid #000000;
}

ul.aux_1 li.marginline span{margin-left:30px;}
ul.aux_2 li.marginline span{margin-left:60px;}
ul.aux_3 li.marginline span{margin-left:90px;}
ul.aux_4 li.marginline span{margin-left:120px;}
ul.aux_5 li.marginline span{margin-left:150px;}
ul.aux_6 li.marginline span{margin-left:180px;}
ul.aux_7 li.marginline span{margin-left:210px;}
ul.aux_8 li.marginline span{margin-left:240px;}
ul.aux_9 li.marginline span{margin-left:270px;}

ul.aux_1 span.s{margin-left:29px;width:470px;}
ul.aux_2 span.s{margin-left:59px;width:440px;}
ul.aux_3 span.s{margin-left:89px;width:410px;}
ul.aux_4 span.s{margin-left:119px;width:380px;}
ul.aux_5 span.s{margin-left:149px;width:350px;}
ul.aux_6 span.s{margin-left:179px;width:320px;}
ul.aux_7 span.s{margin-left:209px;width:290px;}
ul.aux_8 span.s{margin-left:239px;width:260px;}
ul.aux_9 span.s{margin-left:269px;width:230px;}

div#shadow{
    box-shadow:0 1px 4px #000000;
    height: 20px;
    position: absolute;
    top: -20px;
    width: 100%;
    z-index: 999;
}

div#control {
    border: 1px solid #000000;
    border-top:0;
    height: auto;
    position: fixed;
    top: -67px;
    width: 100%;
    box-shadow: 4px 4px 4px 0px #333;
    cursor: pointer;
    z-index:3;
    min-width:810px;
		/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2F2727), to(#1a82f7));

		/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top , #999, #fff 20%, #fff, #f8f8f8 50%, #f4f4f4, #fff 100%);
	background-image: -ms-linear-gradient(top , #999, #fff 20%, #fff, #f8f8f8 50%, #f4f4f4, #fff 100%);
	background-image: -o-linear-gradient(top , #999, #fff 20%, #fff, #f8f8f8 50%, #f4f4f4, #fff 100%);
	background-image: -moz-linear-gradient(center top , #999, #fff 20%, #fff, #f8f8f8 50%, #f4f4f4, #fff 100%);
}
div#control ul{
	width:830px;
	font:14px Arial;
	padding:0;
	height:100%;
	margin:20px auto;
}
div#control ul li{
    float: left;
    margin: 0 5px 20px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 2px 2px 2px 0 #666666;
    padding: 4px 8px;
    width: 110px;
    cursor: pointer;
    background:#fff;
}
div#control ul li ul{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid transparent;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 15px 15px 10px 0 #333333;
    display: none;
    height: auto;
    margin: 12px 0 0 -14px;
    position: fixed;
    width: auto;
    overflow: hidden;
    z-index:3;
}
div#control ul li ul li{
    float: none;
    margin: 5px;
    position: relative;
}
div#control ul li small{
    border: 1px solid #666666;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 1px 0 #CCCCCC;
    color: #666666;
    display: inline-block;
    float: right;
    margin-top: 1px;
    padding: 0 3px;
}
div#control div#tab{
    background: #fff;
    border-radius: 0 0 10px 10px;
    border: 1px solid #000;
    border-top: 0;
    bottom: 0;
    height: 15px;
    left: 50%;
    margin: 0 0 -16px -100px;
    position: absolute;
    width: 200px;
    box-shadow: 4px 4px 4px 0px #333;
    cursor:pointer;
}
div#control div#tab p{
    color: #000;
    font: 12px Arial;
    margin: 0;
    padding: 0;
    text-align: center;}

div#control div.info {
    border: 1px solid #000;
    border-top: 0;
    background: #fff;
    bottom: -29px;
    height: 28px;
    position: absolute;
    width: auto;
    box-shadow: 4px 4px 4px 0 #333;
}
div#control div.info.left {
    left: -1px;
    border-radius: 0 0 35px 10px;
}
div#control div.info.right {
    border-radius: 0 0 10px 35px;
    right: -1px;
}
div#control div.info p{
    font: 14px Arial;
    margin: 0;
    padding:5px 15px 5px 5px;
}

div#control div.info.left p{
	padding: 5px 20px 5px 10px;
}

div#control div.info.right p{
	padding:5px 15px 5px 20px;
}

footer {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 0 0;
    bottom: 0;
    height: 30px;
    left: 50%;
    margin: 0 auto 0 -405px;
    position: fixed;
    width: 810px;
    z-index: 999;
}

div#hint{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    bottom: 35px;
    box-shadow: 10px 10px 5px #888888;
    cursor: pointer;
    display: none;
    left: 50%;
    margin: 0 0 0 -30%;
    position: absolute;
    width: 60%;
    z-index: 2;
 }
div#hint p{
    font: 20px Arial;
    margin: 10px;
    text-align: center;
	display: none;
}
div#hint p span{
    display: inline;
    margin: 0 0 0 12px;
    padding: 0 !important;}
#test{
	font-family:  Arial;
}


div#error{
	padding:20px;
	position: absolute;
	top:50%;
	left:50%;
	border:2px orange solid;
	border-radius: 6px;
	background: #fff;
	cursor: pointer;
	box-shadow:8px 8px 8px 0px #888;
	z-index:2;
}
div#error p{
	margin:0 0 20px;
}
div#error h3 {
    color: orange;
    font-size: 60px;
    margin: -10px 0 0;
}
div#error span {
    border: 1px solid orange;
    border-radius: 3px 3px 3px 3px;
    float: right;
    font: 10px Arial;
    padding: 3px;
    position: relative;
    right: 0;
    cursor: pointer;
    margin:0 -12px -12px 0;
}



/* menus */

p.menuitem{
	cursor:pointer;
}
#loadset span,
#loadnumber span{
    display: inline;
    float: none;
    font: italic 16px/0.8 Arial;
    margin: 0;
}
input#loadpnum {
    border: 1px solid #666;
    border-radius: 4px 4px 4px 4px;
    color: #000000;
    font: 14px Arial;
    height: 16px;
    margin: 0 0 0 3px;
    padding: 0 2px;
    text-align: center;
    width: 24px;
}

div.menu-win{
    border: 1px solid #000000;
    border-radius: 6px;
    height: 400px;
    left: 50%;
    margin: -200px -410px;
    position: absolute;
    top: -40%;
    width: 820px;
    background: #fff;
    box-shadow: 4px 4px 4px 0px #333;
    cursor:pointer;
    z-index:2;
}
div.menu-win h1 {
    font: 18px Arial;
    margin: 5px 6px;
}
div#keys ul{
	padding: 0;
}
ul.menu li {
    border: 1px solid #000000;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 0px #666666;
    float: left;
    font: 14px Arial;
    margin:0 4px 10px;
    padding: 4px 10px;
    cursor: pointer;
}
ul.menu li span{
    display: block;
    float: left;
    font: 30px/0.8 Arial;
    margin: 0 18px 0 0;
}
div#keys ul li p{
    border: 1px solid #000000;
    border-radius: 6px 6px 6px 6px;
    display: inline-block;
    margin: 0;
    padding: 3px 8px;
}

div#keys div#keyboard{
/*	display: block;
    margin: 0 auto;
    position: relative;
    width: 620px;
    clear: both;
*/
    bottom: 0;
    clear: both;
    display: block;
    margin: 0 -30px -30px 0;
    position: absolute;
    right: 0;
    width: 620px;
    border-radius:6px;
    box-shadow: 4px 4px 4px 0px #333;
    height:264px;
}
div#keys div#keyboard img{
    width: 620px;
}
div#keys div#keyboard div.frame{
   background: none repeat scroll 0 0 #000000;
    height: 40px;
    opacity: 0.6;
    position: absolute;
    width: 40px;
}
div#keys ul#actions-list li span{
    font: 12px/23px Arial;
}
div#keys div#operators {
    bottom: 11px;
    clear: both;
    height: 220px;
    left: 8px;
    position: absolute;
    width: 210px;
}
div#keys div#operators h2,
div#keys div#operators h3{
	margin:5px 6px;
}
div#keys div#operators h2{
    font: italic 30px Times New Roman;
}
div#keys div#operators h3{
    font: italic 20px Georgia;
}

ul.submen{
	margin:8px auto !important;
}
ul.submen li{
    float: none !important;
    margin: 0 0 5px !important;
    padding: 0 !important;}


#rules .content{
    margin: -25% auto 0;
    position: relative;
    top: 50%;
    width: 86%;
}
#rules{
	overflow:hidden;
	width:720px;
	margin-left:-360px;
}
ul#slider{
	width:2000px;
	height:80%;
}
.slide {
    display: block;
    float: left;
    height: 100%;
}
ul#btn{
	padding:0;
	position: absolute;
	bottom: 0;
	width:578px;
	left: 50%;
    margin-left: -289px;
}
#btn li{
	padding:4px;
	width:30px;
}
#btn li span{
    font: 10px Arial;
    margin: 0;
    text-align: center;
    width: 100%;
}
div.archetype{
	display: block;
	font:26px Georgia;
	margin:0 0 25px 18px;
}

div.archetype li{
	text-indent: 29px;
}
.slide h2{
	font: 20px Arial;
	display:inline-block;
	width:50%;
}
hr{
	border:0;
	border-bottom:1px #666 dotted;
}
ul.archetype,
ul.eng{
	display: inline-block;
	width: 50%;
	font-style: italic;
	font:italic 18px Georgia;
}
/*ul.eng{
	font-size:16px;
}
*/ul.archetype li,
ul.eng li{
	height:30px;
}
ul.archetype li.con,
ul.eng li{
	text-indent: 0;
}


/* --CONVERTER-- */
#converter .content{
    margin: 0 auto;
    width: 80%;
}
#converter .content + .content{
	text-align: center;
    margin: 26px auto;
}
#converter .content + .content p{

	margin:0 0 20px 0;
}
#converter p{
    font: 16px Arial;
    margin: 8px 0;
}
#converter ul{
    clear: both;
    margin: 20px auto;
    width: 214px;
}
#converter ul li{
	float:none;
	display: inline-block;
}
#converter ul li p{
	margin:0;
}
#converter #dotber {
    background:#222;
    border: 1px solid #000000;
    border-radius: 6px 6px 6px 6px;
    margin: 0 20%;
    position: absolute;
    top: 33px;
    width: 60%;
}
#converter #dotber #detail {
    float: left;
    font-size: 14px;
    margin: 40px 0 10px 10px;
    position: absolute;
    width: 163px;
    z-index: 3;
}
#converter #dotber #detail li{
	width:165px;
}
#converter #dotber #detail li em{
	display: inline-block;
	width: 137px;
	color:#fff;
}
#converter #dotber #detail li span{
	border:2px #fff solid;
	border-right:0;
	height:12px;
	width:21px;
	display: inline-block;
	float: right;
}

#converter #dotber #detail li.assume em{
	color:yellow;
}
#converter #dotber #detail li.solve em{
	margin-top: 18px;
	color:#fff;
}
#converter #dotber #detail li.hint em{
	margin-top: 8px;
	color:yellow;
}
#converter #dotber #detail li.penult em{
	margin-top: 51px;
	color:#fff;
}
#converter #dotber #detail li.last em{
	margin-top:46px ;
	color:yellow;
}


#converter #dotber #detail li.assume span{
	margin-top:-2px;
	height: 18px;
	border-color:yellow;
}
#converter #dotber #detail li.solve span{
	height: 51px;
	border-color:#fff;
}
#converter #dotber #detail li.hint span{
	height: 33px;
	border-color:yellow;
}
#converter #dotber #detail li.penult {
	margin-top:12px;
}
#converter #dotber #detail li.penult span{
    height: 140px;

    border-color:#fff;
}
#converter #dotber #detail li.last span{
    height: 134px;
    border-color:yellow;
}
#converter #dotber pre {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    float: right;
    font-size: 12px;
    margin: 10px;
    padding: 5px 20px;
    position: relative;
    width: 278px;
}
#converter #dotber pre h1{
    font-size: 14px;
    margin: 0 0 10px;
    text-align: center;
    font-family:monospace;
}
#converter input#BER{
	visibility: hidden;
}
#converter #file {
    border: 1px solid #000000;
    border-radius: 6px 6px 6px 6px;
    margin: 0 auto;
    padding: 0 0 3px 2px;
    width: 264px;
}
#converter #file input {
    font: 16px Arial;
    margin: 0;
    text-align: center;
    width: 210px;
}
#converter #file #filebutton {
    border: 1px solid #000000;
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
    display: inline-block;
    font: bold 12px Arial;
    letter-spacing: 2px;
    margin: 0;
    padding: 2px;
    position: relative;
}
#converter p.red{
	color:#f00;
	margin:0;
	display:inline;
	text-decoration: blink;
}